<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piensa en una Carta --- </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2 class="h2">Adivina Cartas</h2>
    <br>
    <h3>Elige mentalmente una carta de las siguientes:</h3>

    <div class="baraja">
        {% for carta in cartas %}
            <div class="card"><h2>{{ carta }}</h2></div>
        {% endfor %}
    </div>
<br><br>
    <h3>¿Ya elegiste? Continuemos</h3><br>
    <form action="{{ url_for('game') }}" method="post">
        <button class="button" type="submit">Continuar</button> 
    </form><br><br>
</body>
</html>
