<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revelando tu Carta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2 class="h2">Adivina Cartas</h2><br>
    <h1>Revelando tu carta...</h1>
    <center>
    <div class="cardR"><h2>{{ carta_actual }}</h2></div>
    
    <br>
    <a href="{{ url_for('next_card') }}" class="btn button">Siguiente Carta</a>
</center>
</body>
</html>
